@font-face {
    font-family: "client light";
    src: url("../fonts/font-client/bbvaweb-light.eot");
    src: url("../fonts/font-client/bbvaweb-light.eot?#iefix&") format("embedded-opentype");
    src: url("../fonts/font-client/bbvaweb-light.woff") format("woff");
    src: url("../fonts/font-client/bbvaweb-light.ttf") format("opentype");
    src: url("../fonts/font-client/bbvaweb-light.svg") format("SVG");
    font-style: normal;
    font-stretch: normal
}
@font-face {
    font-family: "client lightitalic";
    src: url("../fonts/font-client/bbvaweb-lightitalic.eot");
    src: url("../fonts/font-client/bbvaweb-lightitalic.eot?#iefix&") format("embedded-opentype");
    src: url("../fonts/font-client/bbvaweb-lightitalic.woff") format("woff");
    src: url("../fonts/font-client/bbvaweb-lightitalic.ttf") format("opentype");
    src: url("../fonts/font-client/bbvaweb-lightitalic.svg") format("SVG");
    font-style: normal;
    font-stretch: normal
}